In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv('/content/matches.csv')

In [41]:
df.shape

(636, 18)

In [32]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [33]:
# 1.Find out the number of venues

venue_count = df['venue'].nunique()

print(f'There are {venue_count} venue')

There are 35 venue

In [34]:
# 2.Find out the number of times each team emerged as the winner.


winner_count = pd.DataFrame(df['winner'].value_counts())

winner_count

                             winner
Mumbai Indians                   92
Chennai Super Kings              79
Kolkata Knight Riders            77
Royal Challengers Bangalore      73
Kings XI Punjab                  70
Rajasthan Royals                 63
Delhi Daredevils                 62
Sunrisers Hyderabad              42
Deccan Chargers                  29
Gujarat Lions                    13
Pune Warriors                    12
Rising Pune Supergiant           10
Kochi Tuskers Kerala              6
Rising Pune Supergiants           5

In [35]:
# 3.Find out the times the toss winner chose bat and the number of times the winner chose field.

pd.DataFrame(df.groupby('toss_winner')['toss_decision'].value_counts())

                                           toss_decision
toss_winner                 toss_decision
Chennai Super Kings         bat                       44
                            field                     22
Deccan Chargers             bat                       24
                            field                     19
Delhi Daredevils            field                     46
                            bat                       26
Gujarat Lions               field                     14
                            bat                        1
Kings XI Punjab             field                     43
                            bat                       25
Kochi Tuskers Kerala        field                      5
                            bat                        3
Kolkata Knight Riders       field                     48
                            bat                       30
Mumbai Indians              field                     45
                            bat                       40
Pune Warriors               bat                       11
                            field                      9
Rajasthan Royals            field                     35
                            bat                       28
Rising Pune Supergiant      field                      6
Rising Pune Supergiants     field                      4
                            bat                        3
Royal Challengers Bangalore field                     50
                            bat                       20
Sunrisers Hyderabad         bat                       18
                            field                     17

In [36]:
# 4.Replace the toss_decision value with bowl_first where toss_decision is field.

df.loc[df['toss_decision'] == 'field' , 'toss_decision'] = 'bowl_first'

In [37]:
df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,bowl_first,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,bowl_first,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,bowl_first,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,bowl_first,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,bowl_first,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,bowl_first,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,bowl_first,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,bowl_first,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [40]:
# 5.Sort the dataset in descending order of win by runs and print the column win_by_runs.


df.sort_values(by=['win_by_runs'], ascending=False,inplace=True)
df['win_by_runs']

43     146
619    144
59     140
556    138
410    130
      ...
372      0
95       0
370      0
200      0
115      0
Name: win_by_runs, Length: 636, dtype: int64

In [51]:
# 6.Find the date where the winner is Royal Challengers Bangalore with runs more than 30.

df['date'][(df['winner'] == 'Royal Challengers Bangalore') & (df['win_by_runs'] > 30)]

619    2016-05-14
556    2015-05-06
410    2013-04-23
279    2011-05-06
625    2016-05-18
118    2009-04-18
573    2015-05-20
337    2012-04-23
579    2016-04-12
305    2011-05-27
561    2015-05-10
191    2010-03-23
361    2012-05-11
Name: date, dtype: object

In [53]:
# 7.Find the max win by runs and win by wickets using apply function.

df[['win_by_runs','win_by_wickets']].apply(np.max)

win_by_runs       146
win_by_wickets     10
dtype: int64